      .viz {
        width: 100%;
      }
      .rectangle {
        display: inline-block;
        border: 1px rgba(142,48,125,1);
        background-color: #b0c4de;
        width: 6px;
        height: 100px;
        border-radius: 100px;
        background: rgb(142,48,125);
        background: rgb(142,48,125);
        background: linear-gradient(360deg, rgba(142,48,125,1) 0%, rgba(176,196,222,1) 98%, rgba(233,251,255,1) 100%);
        position: sticky;  
              }
              
      button {
        background-color: #84a98c;
        padding: 20px;
        margin: 0 auto;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        font-size: 18px;
        text-align: center;
        
      }
      button:hover {
        background: white;
        color: #84a98c;
        border: 1px solid #84a98c;
        text-align: center;
        margin: auto;
        }
        
    .rectangle:hover {
        background: white;
        color: #84a98c;
        border: 1px solid #84a98c;
        text-align: center;
        margin: auto;
    }
